img {
    margin-left:25%;
}
#display-hour{
    float:right;
    margin: 12px;
}

#display-time{
    float: right;
}

#Cabecera{
    background:rgb(240, 240, 240) ;
}

#Secciones{
    border:1px solid rgb(211, 207, 207);
    width: 18%;
    height: 50em;
}

#publicidad{
    float: right;
    border:1px solid rgb(211, 207, 207);
    width: 18%;
    height: 50em;
    
}
h1 {
    text-align: center;
    font-size: 80px;
}