img {
    margin-left:25%;
}
#display-hour{
    float:right;
    margin: 12px;
}

#display-time{
    float: right;
}

#Secciones{
    border:1px solid black;
    width: 250px;
}

#Publicidad{
    float: right;
    margin-right:10% ;
    
}
h1 {
    text-align: center;
    font-size: 80px;
}