h1 {
    text-align: center;
    font-size: 80px;
}
#contenedorGeneral {
    width: 70%;
    margin: 0 auto;
}

#barraLateral {
    float: left;
    width: 20%;
    height: 80em;
    background-color: #F09A9D;
    overflow: scroll;
}

#contenidoPrin, #contenidoPrin02, #contenidoPrin03 {
    float: left;
    width: 65%;
    height: auto;
    background-color: #F5CF8E;
    margin: 10px;
}

#piePagina {
    height: 80em;
    background-color: #D6E9FE;
    overflow: scroll;
}
