
body {
    background-color: #181818;
    min-height: 100vh;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 80px;
    margin: 10px 0;
    color: #000000;
}

.header {
    background-color: rgb(17, 17, 17);
    border-bottom: 2px solid black;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.article{
    margin: auto;
    margin-top: 180px;
    margin-left: 300px;
    width: 800px;
    height: 350px;
}

/*
.main-content {
    flex: 1;
    padding-top: 120px; /* Ajusta esto según la altura de tu header 
}*/

.header a,p {
    color: white;
    text-decoration: none;
}

.container-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    position: relative; 
    align-items: center;
}

.navigation{
    box-sizing: border-box;
    opacity: .9;
    height: 50px;
    width: 40%;
    z-index: 2;
    
}

.navigation ul{
    list-style:none;
    margin: 12px 20px ;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.navigation a{
    padding: 10px;
    
}

.navigation p{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 10px 20px ;
    font-size: 19px;
}

.menu-icon{
    display: none;
}

.logo {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
}

.navigation ul li a:hover{
    background: #4a4a4a;
    }

.footer {
        background-color: rgb(17, 17, 17);
        width: 100%;
        margin-top: auto;
    }

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    color: white;
    }

.titulos-footer{
    font-weight: 300;
    display: inline-block;
    padding: .6rem;
    margin: 1rem 0;
    position: relative;
    
}

.titulos-footer:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: .2rem solid #0000e6;
}

.sobre-mi{
    width: 500px;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
    color: #a51212;
    color: white;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: .5rem 0;
}

.redes-sociales a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 3rem; 
    height: 3rem; 
    padding: 0.6rem;
    background-color: #303030;
    border-radius: 50%; 
}

.redes-sociales a:hover{
    background-color: #0000e6;
}

.redes-sociales svg{
    width: 1.5em;
    filter: invert(100%);
}

.navegacion li a{
    display: inline-block;
    margin-bottom: .8rem;
    color: #e0e0e0;
}

.navegacion li a:hover{
    color: white;
}

.Info-contacto li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Info-contacto p{
    color: #e0e0e0;
}

.copy{
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    background-color: #ffffff;
    background-color: #303030;
    padding: .5rem;
    height: 35px ;
}

@media (max-width: 1460px){


    .navigation ul{
        /*list-style:none;
        margin: 12px 20px ;
        display: flex;*/
        display: block;
        justify-content:flex-start;
        align-items: center;
        margin-top:-35px ;
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation a{
        padding: 10px;
        
    }

    .navigation li{
        margin-top: 15px;
    }
    
    .navigation p{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        margin: 10px 20px ;
        font-size: 19px;
    }
    .logo {
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 1; 
        width: 20%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon{
        display: block;
        cursor:pointer;
        color: #ffffff;
        margin-trim: 0 20px;

    }
    img{
        width: 100px;
    }
    
    .navigation ul li a:hover{
        background: #4a4a4a;
        }
}